.SelectViewport {
  height: auto;
  /* height: 100vh; */
  /* overflow: scroll; */
  /* max-height: 10rem; */
  /* width: 10rem; */
  /* width: 100%; */
}
.SelectBox_ScrollViewport {
  width: 15rem;
  height: 40vh;
  max-height: 17rem;
}
