.TableContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.TableControlLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.TableCurrencyInput {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.TableControlRight {
}
