.TableControlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.TableControlLeft {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.TableCurrencyInput {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.TableControlRight {
}

@media (max-width: 690px) {
  .TableControlsContainer {
    margin-bottom: 0.5rem;
  }

  .TableCurrencyInput {
    width: 100%;
  }

  .TableSearchBox {
    display: none;
  }
}
