.Home {
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-50);
  margin: 0;
  padding: 2rem 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: overlay;
}
@media (max-width: 820px) {
  .Home {
    padding: 0.5rem 0.6rem 1.4rem 0.6rem;
  }
}
