.ErrorPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.ErrorPanel button .icon {
  color: var(--gray-600);
}

.ErrorPanel button:hover .icon {
  color: var(--blue-500);
}

.ErrorPanel > p {
  font-size: 0.9rem;
  color: var(--gray-600);
}
